@import './theme.css';
@import './typewriter.css';

:root {
  --number-width: 2.5em;
  --date-width: calc(3 * var(--number-width));
  --info-width: minmax(175px, 1fr);
  --reasons-width: 100px;
}

.card__back [role="table"] {
  width: inherit;
  margin-inline: .5em; 
  border-right: none;
  border-bottom: none;
}

/* Шапка таблицы */

.card__title--back {
  text-transform: uppercase;
  margin-block: 0 .5em;
  margin-inline: auto;
  overflow: hidden;
  white-space: nowrap; 
  animation: typing 2.5s steps(20, end);
}

.card__back .card__grid {
  display: grid;
  grid-template-columns: var(--number-width) var(--date-width) var(--info-width) var(--reasons-width);
  border-top: none;
  border-left: none;
  border-right: none;
}

.card__back .card__colrow {
  display: flex;
}

.card__colrow--row {
  flex-direction: row;
}

.card__colrow--col {
  flex-direction: column;
}

.card__back .card__cell {
  font-family: var(--typewriter-font);
  font-size: 1em;
  font-weight: 100;
  padding: 6px;
  border-left: none;
  border-top: none;
  border-right: 3px solid;
}

.card__back .card__date--header {
  letter-spacing: 6px;
  width: var(--date-width);
}

.card__date--header + .card__date--parts {
  display: flex;
  flex-direction: row;
  flex: 3;
}

.card__date--parts .card__cell {
  flex: 1;
}

.card__back .card__reasons--header {
  display: flex;
  font-size: small;
}

.card__back .card__reasons--header .card__cell,
.card__back .card__info--header .card__cell {
  display: flex;
  align-items: center;
}

/* Тело таблицы */

.card__blankrow {
  display: flex;
  flex-direction: row;
  min-height: 100px;
  text-align: center;
  margin-inline: .5em; 
}

.card__blankcell {
  font-family: var(--handwritten-font);
  text-align: left;
  break-after: right;
  flex-shrink: 0;
  border-radius: 7px 1px 7px 1px / 1px 10px 1px 7px;
}

.card__blankcell:not(:last-child) {
  border-right: 3px solid black;
}

.card__back .card__number--body,
.card__back .card__date--body {
  text-align: center;
  flex-basis: calc(var(--number-width) - (2 * 1px));
}

.card__date--body {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.card__info--body {
  flex-grow: 1;
  flex-basis: calc(100% - var(--number-width) * 5 - var(--reasons-width) - .5em - 1px);
}

.card__reasons--body {
  text-align: center;
  font-size: medium;
  flex-basis: var(--reasons-width);
}

.card__back #Astarios .card__blankcell {
  font-family: var(--handwritten-font-v1);
}

.card__back #Astarios .card__blankcell.card__reasons--body {
  font-size: x-small;
  text-decoration: double underline;
}

.card__back #Digis .card__blankcell {
  font-family: var(--handwritten-font-v2);
  font-style: italic;
}