@font-face {
  font-family: "DS Moster";
  src: url("../fonts/DS_Moster.ttf") format("ttf"),
}

@font-face {
  font-family: "Biro Script Plus Sloppy";
  src: url("../fonts/BiroScriptPlus-Sloppy.ttf") format("ttf"),
}