<section class="card__back card__folded">
  <h3 class="card__title--back card__title text--center">Сведения о работе</h3>
  <div role="table" class="card__border card__border--thick">
    <div role="rowheader" class="card__grid card__border card__border--thick">
      <div role="rowgroup" class='card__colrow card__number--header'>
        <div role="cell" class='text--rotate card__border card__border--thin card__cell'>№ записи</div>
      </div>
      <div role="rowgroup" class='card__colrow card__colrow--col'>
        <div class='card__date--header'>
          <div role="cell" class='card__border text--center card__border--thin card__cell'>Дата</div>
        </div>
        <div class='card__date--parts'>
          <div role="cell" class='card__border card__border--thin card__cell text--rotate'>Год</div>
          <div role="cell" class='card__border card__border--thin card__cell text--rotate'>Месяц</div>
          <div role="cell" class='card__border card__border--thin card__cell text--rotate'>Число</div>
        </div>
      </div>
      <div role="rowgroup" class='card__info--header card__colrow text--center'>
        <div role="cell" class='card__border card__border--thin card__cell'>Cведения о приеме на работу. Характеристика работника</div>
      </div>
      <div role="rowgroup" class='card__reasons--header card__colrow text--center'>
        <div role="cell" class='card__border card__border--thin card__cell'>Причины ухода</div>
      </div>
    </div>
  </div>
  <div class="card__body">
    <div role="rowgroup" id="MCPK" class="card__blankrow card__border card__border--thin">
      <p class="card__blankcell card__number--body" role="cell">1</p>
      <p class="card__blankcell card__date--body" role="cell">2019</p>
      <p class="card__blankcell card__date--body" role="cell">июль</p>
      <p class="card__blankcell card__date--body" role="cell">22</p>
      <p class="card__blankcell card__info--body" role="cell">MCPK. Пришел на свою первую работу. Выполнял множество мелких поручений, старался с каждым разом брать задачи посложнее. Научился верстать, но возможности поработать с полноценным фреймворком не было, поэтому после неполного года задумался о смене работы.</p>
      <p class="card__blankcell card__reasons--body" role="cell">Ушел по собственному желанию</p>
    </div>
    <div role="rowgroup" id="Astarios" class="card__blankrow card__border card__border--thin">
      <p class="card__blankcell card__number--body" role="cell">2</p>
      <p class="card__blankcell card__date--body" role="cell">2020</p>
      <p class="card__blankcell card__date--body" role="cell">февраль</p>
      <p class="card__blankcell card__date--body" role="cell">26</p>
      <p class="card__blankcell card__info--body" role="cell">Пришел на проект, где все нужно писать заново. За время работы сделал библиотеку компонентов, "офлайн"-режим и провел пилотный запуск проекта для инвесторов.</p>
      <p class="card__blankcell card__reasons--body" role="cell">Ушел по собственному желанию</p>
    </div>
    <div role="rowgroup" id="Digis" class="card__blankrow card__border card__border--thin">
      <p class="card__blankcell card__number--body" role="cell">3</p>
      <p class="card__blankcell card__date--body" role="cell">2020</p>
      <p class="card__blankcell card__date--body" role="cell">декабрь</p>
      <p class="card__blankcell card__date--body" role="cell">1</p>
      <p class="card__blankcell card__info--body" role="cell">Digis. Работал на проекте, связанным с крупным американским гостиничным бизнесом. Проводил семинары по "unit"-тестированию для коллег из Индии. Отвечал за модуль для рекрутинга новых сотрудников гостиницы.</p>
      <p class="card__blankcell card__reasons--body" role="cell">Ушел по собственному желанию</p>
    </div>
    <div role="rowgroup" id="EPAM" class="card__blankrow card__border card__border--thin">
      <p class="card__blankcell card__number--body" role="cell">4</p>
      <p class="card__blankcell card__date--body" role="cell">2021</p>
      <p class="card__blankcell card__date--body" role="cell">июнь</p>
      <p class="card__blankcell card__date--body" role="cell">1</p>
      <p class="card__blankcell card__info--body" role="cell">EPAM Systems</p>
      <p class="card__blankcell card__reasons--body" role="cell">Работаю до сих пор</p>
    </div>
  </div>
</section>