@import './styles/fonts.css';
@import './styles/typewriter.css';
@import './styles/theme.css';

/* Карточка */
@import './styles/front.css';
@import './styles/back.css';

body {
  height: calc(100vh - 1em);
}

main {
  height: 100%;
}

p {
  margin-block: 0;
}

.card {
  display: grid;
  min-height: fit-content;
  grid-template-columns: minmax(350px, 1fr) 1fr;
}

@media only screen and (max-width: 810px) {
  .card {
    display: grid;
    grid-template-columns: initial;
  }

  .card__back {
    margin-block-start: 1em;
  }
}

.card__folded {
  box-shadow: 0 3px 12px rgba(0,0,0,0.2);
  filter: saturate(70%) contrast(85%);
}

.card__folded:before,
.card__folded:after {
  content: '';
  width: 100%;
  left: 0;
  position: absolute;
}

.card__folded:before {
  height: 4%;
  bottom: -4%;
  background-repeat: no-repeat;
  background-image: linear-gradient(177deg, rgba(0,0,0,0.22) 10%, transparent 50%), linear-gradient(-177deg, rgba(0,0,0,0.22) 10%, transparent 50%);
  background-size: 49% 80%;
  background-position: 2% 0, 100% 0;
}

.card__folded:after {
  height: 100%;
  top: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-image: 
    linear-gradient(to right, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), 
    linear-gradient(to bottom, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), 
    linear-gradient(to bottom, rgba(255,255,255,0.1) 0.5%, rgba(0,0,0,0.15) 1.2%, transparent 1.2%), 
    linear-gradient(265deg, rgba(0,0,0,0.2), transparent 10%), 
    linear-gradient(5deg, rgba(0,0,0,0.2), transparent 15%), 
    linear-gradient(-5deg, rgba(0,0,0,0.1), transparent 10%), 
    linear-gradient(5deg, rgba(0,0,0,0.1), transparent 10%), 
    linear-gradient(-265deg, rgba(0,0,0,0.2), transparent 10%), 
    linear-gradient(-5deg, rgba(0,0,0,0.2), transparent 15%), 
    linear-gradient(266deg, rgba(0,0,0,0.2), transparent 10%);
  background-size: 50% 100%, 100% 33.3333%, 100% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%, 50% 33.3333%;
  background-position: right top, left center, left bottom, left top, left top, right top, left center, right center, right center, left bottom;
}

.card__wrapper--row {
  display: flex;
  flex-direction: row;
}

.card__border {
  --card--photo-border-dark: #737873;
  --card--photo-border-light: #dbdbce;
  border: 1px solid black;
  border-radius: 15px 2px 15px 2px / 2px 15px 2px 15px;
  border-left-color: var(--card--photo-border-dark);
  border-top-color: var(--card--photo-border-light);
  border-right-color: var(--card--photo-border-dark);
  border-bottom-color: var(--card--photo-border-dark);
}

.card__border--thin {
  border: 1px solid;
}

.card__border--thick {
  border: 3px solid;
}

.text--center {
  text-align: center;
}

.text--bold {
  font-weight: bold;
}

.text--adjust {
  align-items: baseline;
}

.card__wrapper--col {
  display: flex;
  flex-direction: column;
}

.card__wrapper--wrap {
  flex-wrap: wrap;
}

.card__title {
  font-family: var(--typewriter-font);
  font-weight: lighter;
  color: var(--text-color);
}

.card__label {
  font-family: var(--typewriter-font);
  font-weight: lighter;
  font-size: .8em;
  opacity: .7;
  min-width: fit-content;
}

.card__input--wrapper {
  width: 100%;
  margin-inline-start: .5em;
  border-bottom: 2px solid currentColor;
}

.offset--1em {
  padding-inline-start: 1em;
}

.offset--2em {
  padding-inline-start: 2em;
}

.offset--3em {
  padding-inline-start: 3em;
}

.offset--4em {
  padding-inline-start: 4em;
}

.top--05em {
  margin-block-start: .5em;
} 

.top--2em {
  margin-block-start: 2em;
}

.text--rotate {
  writing-mode: sideways-lr;
}

.card__input {
  font-family: var(--handwritten-font);
  outline: none;
  user-select: none;
  padding: 0;
}

.card__fieldgroup {
  align-items: end; 
}

.card__input:focus-visible {
  outline: none;
}