@import './styles/fonts.css';
@import './styles/typewriter.css';
@import './styles/theme.css';

/* Карточка */
@import './styles/front.css';
@import './styles/back.css';

body {
  height: calc(100vh - 1em);
}

main {
  height: 100%;
}

p {
  margin-block: 0;
}

.card {
  display: grid;
  grid-template-columns: minmax(100px, .8fr) 1fr;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .card {
    grid-template-rows: minmax(100px, .8fr) 1fr;
    grid-template-columns: 1fr;
  }
}

.card__wrapper--row {
  display: flex;
  flex-direction: row;
}

.card__border {
  --card--photo-border-dark: #737873;
  --card--photo-border-light: #dbdbce;
  border: 1px solid black;
  border-radius: 15px 2px 15px 2px / 2px 15px 2px 15px;
  border-left-color: var(--card--photo-border-dark);
  border-top-color: var(--card--photo-border-light);
  border-right-color: var(--card--photo-border-dark);
  border-bottom-color: var(--card--photo-border-dark);
}

.card__border--thin {
  border: 1px solid;
}

.card__border--thick {
  border: 3px solid;
}

.text--center {
  text-align: center;
}

.text--bold {
  font-weight: bold;
}

.text--adjust {
  align-items: baseline;
}

.card__wrapper--col {
  display: flex;
  flex-direction: column;
}

.card__wrapper--wrap {
  flex-wrap: wrap;
}

.card__title {
  font-family: var(--typewriter-font);
  font-weight: lighter;
  color: var(--text-color);
}

.card__label {
  font-family: var(--typewriter-font);
  font-weight: lighter;
  font-size: .8em;
  opacity: .7;
  min-width: fit-content;
}

.card__input--wrapper {
  width: 100%;
  margin-inline-start: .5em;
  border-bottom: 2px solid currentColor;
}

.offset--1em {
  padding-inline-start: 1em;
}

.offset--2em {
  padding-inline-start: 2em;
}

.offset--3em {
  padding-inline-start: 3em;
}

.offset--4em {
  padding-inline-start: 4em;
}

.top--05em {
  margin-block-start: .5em;
} 

.top--2em {
  margin-block-start: 2em;
}

.text--rotate {
  writing-mode: sideways-lr;
}

.card__input {
  font-family: var(--handwritten-font);
  outline: none;
  user-select: none;
  padding: 0;
}

.card__fieldgroup {
  align-items: end; 
}

.card__input:focus-visible {
  outline: none;
}